/* Стили для экранов шире 428px */
@media (min-width: 429px) {
  .container {
    max-width: 428px;
    margin: 0 auto; 
  }
  .container-fluid {
    max-width: 428px;
    margin: 0 auto; /* Центрировать контейнер */
  }
}

/* style header */

.navbar-toggler {
  border: none;
  border-radius: 0;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--bs-body-bg);
}

.container-main-custom {
  border-radius: 8px;
  background: var(--neutral-01, #fcfcfc);
  padding-top: 16px;
  padding-bottom: 16px;
}

.azs-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-custom {
  border-radius: 12px;
  border: 2px solid var(--neutral-03, #efefef);
  background: var(--neutral-01, #fcfcfc);
  width: 148px;
  height: 48px;
  font-size: 15px;
  font-weight: 600;
}

.btn-custom-dropdown {
  border-radius: 12px;
  border: 2px solid var(--neutral-03, #efefef);
  background: var(--neutral-01, #fcfcfc);
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.active-btn {
  border-radius: 8px;
  padding: 8px;
  background-color: var(--neutral-01, #fcfcfc);
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.1),
    0px 2px 0px 0px rgba(255, 255, 255, 0.25) inset,
    0px -1px 1px 0px rgba(0, 0, 0, 0.04) inset;
}

.colored-box {
  background-color: #cabdff;
  padding: 2px 12px;
  border-radius: 6px;
}

.colored-box + .colored-box {
  background-color: #b1e5fc;
}

.colored-box + .colored-box + .colored-box {
  background-color: #c9d1e5;
}

.number-azs {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
}

.box-number {
  border-radius: 8px;
  background-color: transparent;
  border: none;
}

.box-number_active {
  background-color: #efefef;
}

.button-number {
  background-color: transparent;
  border: none;
  color: #6f767e;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  padding: 0;
  margin: 0;
  width: 52px;
  height: 48px;
}

.text-check {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  color: #6f767e;
  width: 112px;
}

.price-azs {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #83BF6E;
  text-align: -webkit-right;
}

.form-check-input:checked {
  background-color: #83BF6E;
  border-color: #83BF6E;
}

.form-control {
  border-radius: 12px;
  border: 2px solid #EFEFEF;
  background-color: transparent;
  height: 48px;
}

.input-group-text {
  height: 48px;
  border-right: 0;
  border-radius: 12px 0 0 12px;
  border: 2px solid #EFEFEF;
}

.button-info {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.btn-custom-pay {
  border-radius: 12px;
  border: 2px solid var(--neutral-03, #efefef);
  background-color: #83BF6E;
  width: 100%;
  height: 48px;
  font-size: 15px;
  font-weight: 600;
}

.list-inline-item:not(:last-child) {
  margin-right: 0.3rem;
}

.title-refil-number {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #83BF6E;
  margin-bottom: 30px;
}

.form-control[readonly]:focus {
  color: var(--bs-body-color);
  background-color: #efefef;
  border-color: #efefef;
  outline: 0;
  box-shadow: none;
}

.form-control[readonly] {
  background-color: #EFEFEF;
  font-size: 14px;
  padding-right: 0;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: transparent;
  border-color: #83BF6E;
  outline: 0;
  box-shadow: none;
}

.input-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  border-radius: 12px;
  background-color: #EFEFEF;
}

.custom-input {
  border-right: none;
}

.custom-value {
  color: #83BF6E;
  font-size: 14px;
  margin-right: 10px;
}

.bg-color-92 {
  background-color: #cabdff;
  padding: 2px 12px;
  border-radius: 6px;
}

.bg-color-95 {
  background-color: #B1E5FC;
  padding: 2px 12px;
  border-radius: 6px;
}

.bg-color-95K {
  background-color: #B5E4CA;
  padding: 2px 12px;
  border-radius: 6px;
}

.bg-color-DT {
  background-color: #C9D1E5;
  padding: 2px 12px;
  border-radius: 6px;
}


